<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "https://anywhoidigress.files.wordpress.com/2010/05/bigmouthfrog.jpg?w=398&h=354", width: 300, alt: "Image of a big mouth frog" %>
    
  </div>

    

  <div class="col-md-8">
  
    <p>With 15 years developing skills to craft materials to match customers dreams I have found a love for customer saticfaction and a passion for creating. After owning a small company I was introduced to the web, marketing and business management. Realizing my passion for pleasing customers, and a tallent for developing new skills, and a significant need for business web solutions I have embraced web dev industry.</p>

    <p>
      
    </p>
  </div>
</div>